{{ parent_link }}

<article class="article attachment-{{ attachment_type|esc_attr }}">
	<div class="inner">
		<h1 class="title" title="{{ how_old|esc_attr }}">
			{{ the_title }}
		</h1>
		<div class="container">
			{{ the_video }}
			{{ the_content }}
		</div>
	</div>
</article>
