<style>
	.post {
		overflow: auto;
		padding: 15px;
		margin-bottom: 30px;
	}
	.post.loading {
		opacity: 0.35;
	}
	.post.success {
		background-color: green;
		color: #fff;
	}
	.post.success a {
		color: #fff;
	}
	.post.fail {
		background-color: red;
		color: #fff;
	}
	.post .text-fields {
		overflow: auto;
		padding: 0 15px;
	}
	.post .instagram-url,
	.post textarea {
		margin-bottom: 15px;
		width: 99%;
	}
</style>

<h1>Privte Instagram Posts that Need Location Data Synced</h1>
{% for post in posts %}
	<div class="post">
		<a href="{{ post.edit_link|esc_url }}" target="_blank">
			{{ post.thumbnail }}
		</a>
		<div class="text-fields">
			<input
				type="text"
				class="instagram-url"
				value="view-source:{{ post.instagram_url|esc_url }}"
				onfocus="this.select();"
				readonly
			>
			<input
				type="hidden"
				class="post-id"
				name="post-id"
				value="{{ post.post_id|absint }}"
			>
			<textarea rows="5" class="instagram-source"></textarea>
		</div>
	</div>
{% endfor %}
<p>{{ found_posts }} private Instagram posts need location data</p>
