<style>
	.input {
		display: block;
		max-width: 800px;
		width: 95%;
		margin-bottom: 16px;
		padding: 4px 8px;
	}

	.debug-item .video-preview,
	.debug-item .image-preview {
		margin: 0 0 8px;
		max-width: 250px;
		height: auto;
	}

	.debug-item table {
		margin-bottom: 32px;
	}

	.debug-item th {
		text-align: right;
		vertical-align: top;
	}
</style>

<div class="wrap">
	{% if instagram_permalink %}
		<h1>
			Debugging <a href="{{ instagram_permalink|esc_url }}" target="_blank">{{ instagram_permalink }}</a>
		</h1>
	{% endif %}
	<p>{{ page_type }}</p>
	{% if page_info %}
		{{ dump( page_info ) }}
	{% endif %}

	{{ result }}

	<h1>Instagram Debug</h1>
	<form action="{{ form_action_url|esc_url }}" method="post">
		{{ nonce_field }}
		<label for="instagram-url">Instagram URL</label>
		<input id="instagram-url" name="instagram-url" class="input" value="{{ instagram_url|esc_url }}">

		<label for="instagram-sessionid">Instagram Session ID</label>
		<input id="instagram-sessionid" name="instagram-sessionid" class="input" value="{{ instagram_sessionid|esc_attr }}">

		{{ submit_button }}
	</form>
</div>
