<style>
    #instagram-source {
        display: block;
        max-width: 800px;
        width: 95%;
    }

    .children {
        padding-left: 25px;
    }

    .delete-link {
        color: red;
    }
</style>

<div class="wrap">
    {{ result }}

    {% if title %}
        <h1>{{ title }}</h1>
    {% endif %}

   {{ description }}
    <form action="{{ form_action_url|esc_url }}" method="post">
        {{ form_content }}
        <label for="instagram-source">HTML Source</label>
        <textarea id="instagram-source" name="instagram-source" rows="5">{{ instagram_source }}</textarea>
        {{ nonce_field }}
        {{ submit_button }}
    </form>

</div>
