<style>
	#instagram-source {
		display: block;
		max-width: 800px;
		width: 95%;
	}

	.debug-node.level-1 {
		border-bottom: 2px solid #ccc;
		margin-bottom: 64px;
	}

	.debug-node .video-preview,
	.debug-node .image-preview {
		margin: 0 0 8px;
		max-width: 250px;
		height: auto;
	}

	.debug-node table {
		margin-bottom: 32px;
	}

	.debug-node .debug-node {
		padding-left: 64px;
	}
</style>

<div class="wrap">
	{% if instagram_permalink %}
		<h1>
			Debugging <a href="{{ instagram_permalink|esc_url }}" target="_blank">{{ instagram_permalink }}</a>
		</h1>
	{% endif %}
	{{ result }}

	<h1>Instagram Debug</h1>
	<p>Paste the HTML source of an Instagram page to display the parsed information.</p>
	<form action="{{ form_action_url|esc_url }}" method="post">
		{{ nonce_field }}
		<label for="instagram-source">HTML Source</label>
		<textarea name="instagram-source" id="instagram-source" rows="5">{{ text_area_value }}</textarea>
		{{ submit_button }}
	</form>
</div>
